button {
    padding: 0;
    border: none;
    // font: inherit;
    color: inherit;
    background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
  }

.btn {
    user-select: none;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 0.9px;
    font-family: 'Glober';
    font-weight: 700;
    background: $primary-color;
    transition: all 500ms ease;    
    color: white;    
    padding: 17px 25px 15px;
    outline: none !important;
    text-transform: uppercase;
    font-family: 'Glober';
    font-size: 14px;
    box-sizing: border-box;
    border: 2px solid $primary-color;
    line-height: 15px;

    @include mobile {
      width: 234px;
      padding: 0;
      font-size: 13px;
      height: 46px;
    }

    &-transparent {
        background: transparent;
        border: 2px solid black;
        color: black;
    }

    &:hover {        
        box-shadow: 3px -1px 33px -9px rgba(0,0,0,0.75);
    }
}