@font-face {
  src: url('../assets/fonts/Akrobat-Bold.ttf');
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url('../assets/fonts/Akrobat-ExtraBold.ttf');
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 800;
}

@font-face {
  src: url('../assets/fonts/Akrobat-ExtraLight.ttf');
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 200;
}

@font-face {
  src: url('../assets/fonts/Akrobat-Regular.ttf');
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url('../assets/fonts/Akrobat-Light.ttf');
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: url('../assets/fonts/Akrobat-SemiBold.ttf');
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url('../assets/fonts/Akrobat-Thin.ttf');
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 100;
}

@font-face {
  src: url('../assets/fonts/GLOBER-BOLD.ttf');
  font-family: 'Glober';
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url('../assets/fonts/GloberThin.ttf');
  font-family: 'Glober';
  font-style: normal;
  font-weight: 100;
}

@font-face {
  src: url('../assets/fonts/GLOBER-LIGHT.ttf');
  font-family: 'Glober';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: url('../assets/fonts/GLOBER-HEAVY.ttf');
  font-family: 'Glober';
  font-style: normal;
  font-weight: 900;
}

@font-face {
  src: url('../assets/fonts/GLOBER-REGULAR.ttf');
  font-family: 'Glober';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url('../assets/fonts/GLOBER-SEMIBOLD.ttf');
  font-family: 'Glober';
  font-style: normal;
  font-weight: 600;
}

