//Container Width
$desktopWidth: 1920px;
$laptopWidth: 960px;
$tabletWidth: 720px;

//Media query
$laptopMedia: 1367px;
$tabletMedia: 1023px;
$mobileMedia: 767px;

$primary-color: #ff004e;
$secondary-color: #404040;
$btn-color:  #229BAE;