.calc {
  padding: 44px 0 70px;
  background: url('../assets/img/jpg/bg_img.jpg') no-repeat;
  background-size: cover;

  &.show {
    .calc {
      &__inner {
        display: none;
      }
    }

    .thanks {
      display: block;
    }
  }

  &__form {
    background-color: white;
    margin-top: 40px;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.5);

  }

  &__label {
    text-align: start;
  }

  &__input {
    height: 35px;
    width: 227px;

    @include mobile {
      width: 100%;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include tablet-and-mobile {
      flex-direction: column;
      align-items: center;
    }

  }

  &__top {
    padding: 20px 50px 25px 35px;
    box-shadow: 0px 11px 17px -13px rgba(0,0,0,0.75);

    @include tablet-and-mobile {
      padding: 25px;
      box-shadow: none;
    }
  }

  &__bottom {
    padding: 20px 50px 25px 35px;
    display: flex;
    flex-direction: column;   

    input {
      height: 50px;
    }

    @include tablet-and-mobile {
      padding: 25px;
    }

    @include mobile {
      display: none;
    }
  }

  &__col {
    @include mobile {
      width: 100%;
    }
  }

  &__select {
    font-family: 'Glober';
    font-weight: 400;
    font-size: 14px;
    color: #afafaf;
    margin-top: 10px;
    width: 227px;
    height: 35px;
    border: 2px solid #afafaf;

    @include mobile {
      width: 100%;
    }

    &:focus {
      outline: none;
    }

    option {
      width: 100%;
      ;
    }
  }

  &__text {
    width: 210px;
    margin: 0 auto;
    font-family: 'Glober';
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    line-height: 20px;

    @include mobile {
      margin: 16px auto 0;      
    }
  }

  &__btn {
    display: block;
    position: relative;
    margin: 35px auto 25px;
    
    @include mobile {      
      margin: 19px auto 0;
      order: 1;
    }
  }

  &__next {
    display: none;

    @include mobile {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}