.calc {
  padding: 44px 0 70px;
  background: url("../assets/img/jpg/bg_img.jpg") no-repeat;
  background-size: cover;

  @include tablet-and-mobile {
    background: url("../assets/img/jpg/bg_img.jpg") no-repeat;
    background-size: cover;
    background-position: center bottom;
  }

  &.show {
    .calc {
      &__inner {
        display: none;
      }
    }

    .thanks {
      display: block;
    }
  }

  &__form {
    background-color: white;
    margin-top: 40px;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.21);
  }

  &__label {
    text-align: start;
  }

  &__input {
    height: 35px;
    width: 227px;

    @include mobile {
      width: 100%;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include tablet-and-mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__top {
    padding: 20px 50px 25px 35px;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.21);

    @include tablet-and-mobile {
      padding: 25px;
      box-shadow: none;
    }
  }

  &__bottom {
    padding: 20px 50px 25px 35px;
    display: flex;
    flex-direction: column;

    input {
      height: 50px;
    }

    @include tablet-and-mobile {
      padding: 25px;
    }

    @include mobile {
      display: none;
    }
  }

  &__col {
    @include mobile {
      width: 100%;
    }
  }

  input[name="phone"],
  input[name="email"],
  input[name="weight"],
  input[name="name"], 
  input[name="instagram"] {
    &.animate {
      animation-name: example;
      animation-duration: 0.7s;
      @keyframes example {
        0% {
          background-color: transparent;
          // barder: 2px solid transparent;
        }
        50% {
          background-color: $primary-color;
          // barder: 2px solid $primary-color;
        }
        100% {
          background-color: transparent;
          // barder: 2px solid transparent;
        }
      }
    }
  }  

  &__select {
    font-family: "Glober";
    font-weight: 400;
    font-size: 14px;
    color: #afafaf;
    margin-top: 10px;
    width: 227px;
    height: 35px;
    border: 2px solid #afafaf;

    @include mobile {
      width: 100%;
    }

    &:focus {
      outline: none;
    }

    option {
      width: 100%;
    }
  }

  &__text {
    width: 210px;
    margin: 0 auto;
    font-family: "Glober";
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    line-height: 20px;

    @include mobile {
      margin: 16px auto 0;
    }
  }

  &__submit {
    display: block;
    position: relative;
    margin: 35px auto 25px;

    @include mobile {
      margin: 19px auto 0;
      order: 1;
    }
  }

  &__next {
    margin: 35px auto 25px;
    display: none;

    @include mobile {
      margin: 19px auto 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
