.header {
  position: relative;
  background: url('../assets/img/jpg/hero_img.png') no-repeat 65% 10%,
              url('../assets/img/jpg/left_img.jpg') no-repeat 0px 0px,
              url('../assets/img/jpg/left_photo.png') no-repeat 0% 54%,
              url('../assets/img/jpg/right_img.jpg') no-repeat 100% 0%,
              url('../assets/img/jpg/right_photo.png') no-repeat 100% 51.5%;

  @media (max-width: 1720px) {
    background: url('../assets/img/jpg/hero_img.png') no-repeat 65% 10%,
    url('../assets/img/jpg/left_img.jpg') no-repeat 0px 0px,
    url('../assets/img/jpg/left_photo.png') no-repeat 0% 54%,
    url('../assets/img/jpg/right_img.jpg') no-repeat 130% 0%,
    url('../assets/img/jpg/right_photo.png') no-repeat 100% 51.5%;            
  }

  @include mobile {
    background: url('../assets/img/jpg/hero_img.png') no-repeat contain;
  }
  
  &__top {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;

  }

  &__wrapper-menu {
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-right: 36px;
    width: 27px;
    height: 27px;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }

    @include mobile {
      margin-right: 10px;
    }
  }

  &__menu {    
    position: relative;
    width: 27px;
    height: 2px;
    background-color: black;

    &:before {
      content: '';
      position: absolute;
      top: -7px;
      width: 27px;
      height: 2px;
      background-color: black;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -7px;
      width: 27px;
      height: 2px;
      background-color: black;
    }
  }

  &__logo-name {
    display: block;
    font-size: 29px;
    font-family: 'Akrobat';
    font-weight: 100;
    text-transform: uppercase;

    @include mobile {
      font-size: 19px;
    }
  }

  &__logo-subtitle {
    font-family: 'Glober';
    font-weight: 300;
    margin-top: 16px;
    display: block;
    color: #585757;
    font-size: 11px;

    @include mobile {
      font-size: 11px;
      margin-top: 6px;
    }
  }

  &__phone {
    font-family: 'Akrobat';
    font-size: 31px;
    font-weight: 100;
    @include transition;

    &:hover {
      opacity: .8;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &__adress {
    font-family: 'Glober';
    font-weight: 300;
    display: block;
    margin-top: 16px;
    color: #585757;
    font-size: 11px;
    cursor: pointer;
    text-decoration: underline;
    @include transition;

    &:hover {
      opacity: .8;
    }

    @include mobile {
      display: none;
    }
  }

  &__middle {
    padding: 80px 42px 325px;

    @include mobile {
      padding: 19px 14px 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    font-family: 'Glober';
    font-size: 36px;
    font-weight: 900;
    max-width: 530px;
    width: 100%;
    line-height: 56px;

    @include mobile {
      font-size: 29px;
      text-align: center;
      line-height: 26px;

      span {
        font-size: 19px;
      }
    }
  }

  &__subtitle {
    margin-top: 29px;
    font-family: 'Glober';
    font-weight: 700;
    font-size: 25px;
    color: $primary-color;

    @include mobile {
      margin-top: 10px;
      padding: 8px 0;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      font-size: 13px;
      text-align: center;
    }
  }

  &__wrapper-btn {
    margin-top: 40px;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 267px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__btn {
    margin-right: 12px;
    position: relative;

    @include mobile {
      margin-right: 0;
      margin-bottom: 7px;
    }
  }

  &__btn-img {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &__list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    @include mobile {
      display: none;
    }
  }

  &__item {
    position: relative;
    font-family: 'Glober';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    max-width: 220px;
    width: 100%;
    margin-left: 48px;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -50px;
      background-image: url(../assets/img/svg/check_icon.svg);
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    &:not(:first-child) {
      margin-top: 32px;
    }
  }

  &__navigation {
    padding: 50px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
    padding-left: 100px;
    transform: translateY(-100%);
    @include transition;

    @include mobile {
      padding-left: 20px;
    }

    &.active {
      transform: translateY(0);
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: disc;
  }

  &__cell {
    font-family: 'Glober';
    font-size: 14px;
    line-height: 25px;

    &:not(:first-child) {
      margin-top: 20px;
    }

    &:hover {
      opacity: .8;
    }
  }

  &__close {
    position: absolute;
    right: 20%;
    top: 30px;
    font-size: 30px;
    cursor: pointer;
    @include transition;

    &:hover {
      opacity: .8;
    }

    @include mobile {
      right: 5%;
    }
  }
}

.format {
  &__title {
    text-align: center;
    font-family: 'Glober';
    font-weight: 300;
    font-size: 36px;
  }

  &__subtitle {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
  }

  &__subtitle-left,
  &__subtitle-right {
    font-family: 'Glober';
    font-weight: 900;
    font-size: 30px;
    color: $primary-color;
  }

  &__content {
    position: relative;
    border: 2px solid $primary-color;
    margin-top: 32px;
    background-color: #4d546c;
    display: flex;

    &:before {
      content: '';
      position: absolute;
      height: 110%;
      width: 2px;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $primary-color;

      @include mobile {
        display: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -27px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 10px solid $primary-color;

      @include mobile {
        display: none;
      }

    }
  }

  &__left,
  &__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 40px 40px 30px;
  }

  &__right {
    @include mobile {
      display: none;
    }
  }

  &__right-item,
  &__left-item {
    position: relative;
    color: white;
    font-family: 'Glober';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    &:before {
      content: '';
      position: absolute;
      left: -17px;
      top: 7px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: white;

    }

    &:not(:first-child) {
      margin-top: 32px;
    }
  }

  &__right-btn,
  &__left-btn {
    position: relative;
    display: block;
    width: 274px;
    margin: 50px auto 0;
  }
}

.title {
  text-align: center;
  font-family: 'Glober';
  font-weight: 300;
  font-size: 36px;

  @include mobile {
    font-size: 26px;
  }
}